*.iml
.gradle
local.properties
.idea
!.idea/codeStyles
.DS_Store
/build
/release
/captures
.externalNativeBuild
.keychain
app/fabric.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
centrifuge/build
app/google-services.json
checklist.md
app/netMain
app/netTest
LocalTest.kt