<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) by MinterTeam. 2020
  ~ @link <a href="https://github.com/MinterTeam">Org Github</a>
  ~ @link <a href="https://github.com/edwardstock">Maintainer Github</a>
  ~
  ~ The MIT License
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="network.minter.bipwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="network.minter.bipwallet.internal.Wallet"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Wallet"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity"
        tools:replace="android:allowBackup">

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name=".internal.system.WalletFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="network.minter.bipwallet.auth.ui.AuthActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--            <intent-filter>-->
            <!--                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />-->
            <!--            </intent-filter>-->

            <!--            <meta-data-->
            <!--                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
            <!--                android:resource="@xml/ledger_dev" />-->
            <!--            <meta-data-->
            <!--                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"-->
            <!--                android:resource="@xml/ledger_dev" />-->
        </activity>

        <activity
            android:name=".home.ui.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".tx.ui.TransactionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delegation.ui.DelegatedListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sending.ui.QRCodeScannerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet.Camera" />
        <activity
            android:name=".exchange.ui.ConvertCoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".external.ui.ExternalActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet.Splash">
            <intent-filter>
                <action android:name="OPEN_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="OPEN_TRANSACTION_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="minter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".security.ui.PinEnterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet.PinEnter" />

        <activity
            android:name=".tx.ui.ExternalTransactionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".home.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Wallet"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".addressbook.ui.AddressBookActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".delegation.ui.DelegateUnbondActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".delegation.ui.ValidatorSelectorActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.livebalance.RTMService"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>